

#rootPanel {
    -fx-background-image: url("/chogori-pics/background_lightgray.jpg"); /* абстракция */
}


#toolPane {
    -fx-background-color: gray;
    -fx-border-style: solid;
    -fx-border-radius: 2;
}

#searchField{
    -fx-border-style: solid;
    -fx-border-radius: 5;
}