/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
@import url('/chogori-css/application-dark.css');

* {
    -fx-my-black: rgb(50, 50, 50);
    -fx-my-grey: grey;
    -fx-my-menu-color: rgb(50, 50, 50);                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #455a64;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */

    -fx-patchbutton-height: 20;
    -fx-patchbutton-width: 30;
}



.root
{
    -fx-background-color: -fx-my-black;
    -fx-text-fill: white;
    -fx-text-weight: bold;
    /*-fx-text-hight: 14px;*/
}

/* Кнопки меню с выпадающим списком Фильтры, столбцы, обращение по ID */

#menu-button-no-arrow {
    -fx-width: -fx-patchbutton-width;
    -fx-max-width: -fx-patchbutton-width;
    -fx-pref-width: -fx-patchbutton-width;

    -fx-min-height: -fx-patchbutton-height;
    -fx-max-height: -fx-patchbutton-height;
    -fx-pref-height: -fx-patchbutton-height;
}

#menu-button-no-arrow > .arrow-button {
    -fx-padding: 0;
}

#menu-button-no-arrow > .arrow-button > .arrow {
    -fx-padding: 0;
}
/* Кнопки */
#patchButton{
    -fx-min-width: -fx-patchbutton-width;
    -fx-max-width: -fx-patchbutton-width;
    -fx-pref-width: -fx-patchbutton-width;

    -fx-min-height: -fx-patchbutton-height;
    -fx-max-height: -fx-patchbutton-height;
    -fx-pref-height: -fx-patchbutton-height;
}

/*--------------------------------------------------------------------*/
/*#stpExcelTable{*/
/*    -fx-background-color: white;*/
/*}*/

#patchHeader{
    -fx-background-color: aliceblue;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-width: 0  0 1px 0;
}

#patchHeader > .label{
    -fx-background-color: aliceblue;
    -fx-text-fill: black;
}



/* таблицы на этом фоне*/
#rootPanel{
    /*-fx-background-color: oldlace;*/
    -fx-background-image: url("/chogori-pics/background_lightgray.jpg"); /* абстракция */
}

#application{
    -fx-background-image: url("/pics/texture_gray2.jpg");
}

#menuBox{
    -fx-background-color: -fx-my-black;
}

/*бордюры окон*/
#paneX, #paneR, #paneB
{
    -fx-background-color: -fx-my-black;
}

.label
{
    -fx-text-fill: white;
    -fx-text-weight: bold;
    /*-fx-text-hight: 18px;*/
}
.button
{
    /*-fx-font-size: 14px;*/
    -fx-font-weight: bold;
}

#buttonsPane
{
    -fx-background-color: -fx-my-black;
}
#treeTableView {
    -fx-font-size: 14px;
}
#usersTableView {
    -fx-font-size: 14px;
}
#productGroupsTreeView{
    -fx-font-size: 14px;
}

.table-view .column-header-background{
    -fx-background-color: -fx-my-black;
}
.table-view .column-header-background .label{
    -fx-background-color: gray;
    -fx-text-fill: white;
}

.table-view .column-header-background .filler{
    -fx-background-color: gray;
    -fx-fill-width: 15px;

}

.tree-table-view .column-header-background .label{
    -fx-background-color: gray;
    -fx-text-fill: white;
}


.tab-pane .tab-header-background
{
    /*-fx-background-color: grey;*/
    -fx-opacity: 0.0;
}

.tab {
    /*-fx-font-size: 12;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color:royalblue ;*/
}

.tab:selected {
    -fx-font-size: 110%;
    /*-fx-background-color:blue ;*/
}


#bottomLine
{
    -fx-background-color: -fx-my-black;
    /*-fx-background-image: url("/pics/bl-steel(1920x25).jpg");*/
    /*-fx-opacity: 0.0;*/
}

#tabPane
{
    -fx-background-image: url("/pics/texture_gray2.jpg");
    /*-fx-background-color: grey;*/
    /*-fx-opacity: 0.0;*/
}

#fourButtonsPane
{
    -fx-background-color: -fx-my-black;
}

#toolBarHBox{
    -fx-background-color: -fx-my-black;
}

#button_panel
{
    -fx-background-color: -fx-my-black;
}

#button_panel > .button >.label
{
    -fx-background-color: -fx-my-black;
    -fx-text-fill: white;
}

/*#button_panel, .button{*/
/*    -fx-padding: 1 5 1 5  ;*/
/*    -fx-max-height: 15px;*/
/*}*/

#button_panel .button {
    -fx-background-color: -fx-my-black;
}
/*  ПОИСК */

#menuBox > .text-field{
    -fx-background-color: lightgrey ;
    -fx-padding: 1 5 1 5 ;
    -fx-max-height: 15px;
}

/*#menuBox > .text-field:hover {*/
    /*-fx-background-color: white ;*/
/*}*/

/*#menuBox > .text-field:focused {*/
    /*-fx-background-color: white ;*/
/*}*/

/* ---      */

#txtFldSearch{
    -fx-background-color: lightgrey ;
    -fx-padding: 1 5 1 5 ;
    -fx-max-height: 15px;
}

#txtFldSearch:hover {
    -fx-background-color: white ;
}

#txtFldSearch:focused {
    -fx-background-color: white ;
}
/* ----------- */

/*#button_panel > #txtFldSearch , .button {*/
/*-fx-padding: 1, 1, 1, 1;*/
/*-fx-max-height: 15px;*/
/*}*/

#rightToolBar{
    -fx-background-color: -fx-my-black;
}

.check-box{
    -fx-text-fill: white;
}





/*==============================================*/

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-size: 14;

}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-size: 14;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu common ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

.tree-table-row-cell .tree-disclosure-node .arrow {
    /*!*-fx-shape: "M0 -0.5 h2 v2 h1 v-2 h2 v-1 h-2 v-2 h-1 v2 h-2 v1z";*! - крестик*/
    -fx-padding: -10;
}

.tree-table-row-cell:expanded .tree-disclosure-node .arrow  {
    /*-fx-shape: "M0 -0.5 h5 v-1 h-5 v1z";*/
    /*-fx-padding: 4 0.25 4 0.25;*/
    -fx-padding: -10;
}
.tree-table-cell:default{
    -fx-border-color: black;
    -fx-border-style: solid;
}

#secondToolBar {
    -fx-background-color: -fx-my-black;
}

#secondToolBar .button {
    -fx-background-color: -fx-my-black;
}



#modal_pane {
    -fx-background-color: -fx-my-black;
    -fx-border-color:grey;
    -fx-border-width: 2px;

}

#modal_pane .label {
    -fx-text-fill: #FFFFFC;
}

#vbPermissions{
    -fx-background-color: gainsboro;
}
#vbPermissions >.check-box .text{
    -fx-fill: #000001; /*работает только так!*/
}
#vbPermissions >.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}

#vbPermissions >.check-box:selected .mark {
    -fx-background-color: white;
}

#vbPermissions >.check-box:selected .box {
    -fx-background-color: #28a3f4;
}



#apLogin {
    /*-fx-background-color: #28a3f4;*/
    -fx-background-color: -fx-my-black;
}




