.root {
    -fx-background-size: 400 400;
    -fx-background-image: url("/chogori-pics/tubus_pre.png");  /*  картинка 800x800   */
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-font-family: "Arial Narrow";
    -fx-border-color: #FFFFFF;

}
.label{
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.progress-bar > .bar {
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}
