
/*ПАНЕЛЬ ИНСТРУМЕНТОВ*/

#toolPane{
    -fx-background-color: -fx-my-black;
}

.tool-bar {
    -fx-background-color: -fx-my-black;
}

.button{
    -fx-background-color: -fx-my-black;
    /*-fx-border-width: 1;*/
    /*-fx-border-radius: 5;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-color: white;*/
}

.button:hover{
    -fx-background-color: gray;
}

.button:pressed{
    -fx-background-color: lightgrey;
}

/*ПОЛЕ ПОИСКА*/

.text-field{
    -fx-min-height: 24px;
    -fx-background-color: lightgrey ;
    -fx-padding: 1 5 1 5 ;
}

.text-field:hover {
    -fx-background-color: white ;
}

.text-field:focused {
    -fx-background-color: white ;
}