/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
@import url('/chogori-css/application-dark.css');

* {
    -fx-my-black: rgb(50, 50, 50);
    -fx-my-grey: grey;
    -fx-my-menu-color: rgb(50, 50, 50);                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #455a64;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */

    -fx-pik-blue: #4169e1;
    /*-fx-pik-blue: rgb(25, 41, 88);*/

    -fx-patchbutton-height: 20;
    -fx-patchbutton-width: 30;
}

/* Фон задника*/
#rootPanel{
    /*-fx-background-color: oldlace;*/
    -fx-background-image: url("/chogori-pics/lightgray03.jpg"); /* абстракция */
}

#modal_pane{
    -fx-border-width: 2px;
    -fx-border-color: gray;
}

.root
{
    /*-fx-background-image: url("/utils-pics/tyled_grey.jpg");*/
    /*-fx-background-repeat: repeat;*/
    -fx-background-color: -fx-my-black;
    -fx-text-fill: white;
    -fx-text-weight: bold;
    /*-fx-text-hight: 14px;*/
}

.label {
    -fx-text-fill: #FFFFFC;
}
/*#############    ДИВАЙДЕРЫ  #############################*/
.split-pane:horizontal >.split-pane-divider{
    -fx-background-color: -fx-my-black;
    -fx-padding: 0 0.01em 0 0.01em;
}
.split-pane:vertical >.split-pane-divider{
    -fx-background-color: -fx-my-black;
    -fx-padding: 0 0.01em 0 0.01em;
}

/*#############    ЧЕКБОКСЫ  #############################*/
.check-box .text{
    -fx-fill: #000001; /*работает только так!*/
}
.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

>.check-box:selected .box {
    -fx-background-color: #28a3f4;
}

/*#############   ГЛАВНОЕ МЕНЮ   #########################   */

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-size: 14;

}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

.menu-item .check-box .text{
    -fx-fill: #FFFFFC;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-size: 14;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hover {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hover .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/*############################ CONTEXT MENU #########################################*/
/*** The context menu that contains a menu's menu common ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
}

.tree-table-row-cell .tree-disclosure-node .arrow {
    /*!*-fx-shape: "M0 -0.5 h2 v2 h1 v-2 h2 v-1 h-2 v-2 h-1 v2 h-2 v1z";*! - крестик*/
    -fx-padding: -10;
}

.tree-table-row-cell:expanded .tree-disclosure-node .arrow  {
    /*-fx-shape: "M0 -0.5 h5 v-1 h-5 v1z";*/
    /*-fx-padding: 4 0.25 4 0.25;*/
    -fx-padding: -10;
}
.tree-table-cell:default{
    -fx-border-color: black;
    -fx-border-style: solid;
}

/*#############   ПАНЕЛЬ РАЗРЕШЕНИЙ     ###########################################################*/

#vbPermissions{
    -fx-background-color: gainsboro;
}

/*##################  ПАНЕЛЬ ЗАГОЛОВОК  ПАТЧА  ##############################################################*/

/*!* Кнопки меню с выпадающим списком Фильтры, столбцы, обращение по ID *!*/

#menu-button-no-arrow > .arrow-button {
    -fx-padding: 0;

}

#menu-button-no-arrow > .arrow-button > .arrow {
    -fx-padding: 0;
}

/* Кнопки */
#patchButton, #menu-button-no-arrow{
    -fx-min-width: -fx-patchbutton-width;
    -fx-max-width: -fx-patchbutton-width;
    -fx-pref-width: -fx-patchbutton-width;

    -fx-min-height: -fx-patchbutton-height;
    -fx-max-height: -fx-patchbutton-height;
    -fx-pref-height: -fx-patchbutton-height;

    -fx-background-color: lightskyblue;
}

#patchButton:hover, #menu-button-no-arrow:hover{
    -fx-background-color: deepskyblue;
}

#patchButton:pressed, #menu-button-no-arrow:pressed{
    -fx-background-color: deepskyblue;
}

#patchHeader{
    -fx-background-color: lightskyblue;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-width: 0  0 1px 0;
}

#patchHeader > .label{
    -fx-background-color: lightskyblue;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#patchHeader > .button .label{
    -fx-background-color: lightskyblue;
}

#patchHeader > .button .label:hover{
    -fx-background-color: midnightblue;
}

/*#####################  TAB PANE ###############################################*/

.tab-pane .tab-header-background
{
    /*-fx-background-color: grey;*/
    -fx-opacity: 0.0;
}

.tab {
    /*-fx-font-size: 12;*/
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    /*-fx-background-color:royalblue ;*/
}

.tab:selected {
    -fx-font-size: 110%;
    /*-fx-background-color:blue ;*/
}

/*#############################  ПАНЕЛЬ ВВОДА ПАРОЛЯ ############################################*/

/*Применяется, так как пр смене пользователя загружен другой фон*/
#apLogin {
    /*-fx-background-color: #28a3f4;*/
    -fx-background-color: -fx-my-black;
    /*-fx-background-image: url("/utils-pics/tyled_grey.jpg");*/
    /*-fx-background-repeat: repeat;*/
}

/*#############################   ТАБЛИЦЫ  ###############################################################*/

.table-view .column-header-background{
    -fx-background-color: white;
}

.table-view .column-header {
    -fx-background-color: -fx-pik-blue;
    -fx-background-insets: 0 0.01em 0 0.1em;
}

.table-view .column-header-background .label{
    -fx-background-color: -fx-pik-blue;
    -fx-text-fill: white;
}

.table-view .column-header-background .filler{
    -fx-background-color: -fx-pik-blue;
    -fx-fill-width: 15px;

}

.tree-table-view .column-header-background .label{
    -fx-background-color: -fx-my-menu-color-highlighted;
    -fx-text-fill: white;
}

.table-view, .tree-table-view{
    -fx-font-family: sans-serif;
    -fx-font-size: 14px;
}



/*############################################################################################*/
